@use "sass:math";

.image-distortion {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1571977144562-3737f035296a?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  filter: grayscale(30%) contrast(1.2);
}

#base {
  z-index: 0;
}

#red {
  background-color: rgba(0, 128, 0, 0.16);
  background-blend-mode: hue;
}

#cyan {
  background-color: rgba(0, 255, 158, 0.25);
  background-blend-mode: darken;
}

#transparent {
  background-color: transparent;
  background-blend-mode: unset;
}

#red {
  animation: img-glitch-red 4s infinite linear alternate-reverse both;
}

#cyan {
  animation: img-glitch-cyan 5s infinite linear alternate both;
}

#transparent {
  animation: img-glitch-transparent 4s infinite linear alternate-reverse both;
}

@function randomNum($min, $max) {
  $rand: math.random();
  $randomNum: $min + math.floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

@keyframes img-glitch-red {
  @for $i from 1 through 10 {
    $width: 1;
    $height: randomNum(0, 100) / 100;
    $top: $height - randomNum(0, 3) / 100;
    $left: 0;

    #{percentage($i * 10)} {
      @if ($i > 3 and $i < 5) or ($i > 8 and $i < 9) {
        clip-path: polygon(
          percentage($left) percentage($height),
          percentage($width) percentage($height),
          percentage($width) percentage($top),
          percentage($left) percentage($top)
        );
        transform: scaleX(math.random() * 2);
      } @else {
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
      }
    }
  }
}

@keyframes img-glitch-cyan {
  @for $i from 1 through 30 {
    $width: 1;
    $height: randomNum(0, 100) / 100;
    $top: $height - randomNum(0, 3) / 100;
    $left: 0;

    #{percentage($i * 3.33)} {
      @if ($i > 0 and $i < 3 or $i > 12 and $i < 21) {
        clip-path: polygon(
          percentage($left) percentage($height),
          percentage($width) percentage($height),
          percentage($width) percentage($top),
          percentage($left) percentage($top)
        );
      } @else {
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
      }
    }
  }
}

@keyframes img-glitch-transparent {
  @for $i from 1 through 25 {
    $width: 1;
    $height: randomNum(0, 50) / 100;
    $top: $width - randomNum(25, 75) / 100;
    $left: 0;

    #{percentage($i * 4)} {
      clip-path: polygon(
        percentage($left) percentage($height),
        percentage($width) percentage($height),
        percentage($width) percentage($top),
        percentage($left) percentage($top)
      );
      transform: translate(math.random() * 10px, 0);
    }
  }
}
